<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.sphinx.mix">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 用传统和mvp进行下载 -->
        <activity android:name=".DownLoadActivity">
        </activity>

        <!-- 联动的主界面 -->
        <activity
            android:name=".MainCoordinatorActivity"
            android:label="@string/definition">
        </activity>
        <activity
            android:name=".BackTopActivity"
            android:label="@string/back_top"/>
        <activity
            android:name=".ZhiHuActivity"
            android:label="@string/coordinator">
        </activity>
        <activity
            android:name=".BottomSheetActivity"
            android:label="@string/down_cover">
        </activity>
        <activity
            android:name=".SwipeDismissBehaviorActivity"
            android:label="@string/slide_delete"/>
        <activity
            android:name=".ViewSwitchActivity"
            android:label="@string/viewSwitcher">
        </activity>
        <activity
            android:name=".DaggerMainActivity"
            android:label="@string/Dagger"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".Dagger2Activity"
            android:label="@string/Dagger2">
        </activity>

        <meta-data
            android:name="design_width"
            android:value="720">
        </meta-data>
        <meta-data
            android:name="design_height"
            android:value="1080">
        </meta-data>

        <activity
            android:name=".AutoActivity"
            android:label="@string/Auto">
        </activity>
    </application>

</manifest>